<?xml version="1.0" encoding="UTF-8"?>

<!--
WiX Toolset Pills 15mg
Copyright (C) 2019-2021 Dust in the Wind

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product
        Id="*"
        Name="Start Condition - WiX Toolset Pill"
        Language="1033"
        Version="1.0.0.0"
        Manufacturer="Dust in the Wind"
        UpgradeCode="ff4b4e10-afe1-49bc-a8c5-ede60377172d">

        <Package
            InstallerVersion="200"
            Compressed="yes"
            InstallScope="perMachine" />

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate />

        <Condition Message="Sorry, you are not allowed to install the product.">
            <!--
            ====================================================================================================
            Step 2: Create the condition
            ====================================================================================================
        
            In this example, the condition is based on the "ALLOW_TO_INSTALL" property (see below in this file):
                - if it is "yes", the installer is allowed to continue;
                - any other value will prevent the installer to continue.
            
            The property should be verified only if we are on the installation scenario.
            We should always allow to uninstall the product.
            This is done by the "Installed OR (NOT Installed AND (...))" part.
            
            If the condition is false, the text from the "Message" attribute is displayed to the user.
            
            END
            -->

            <![CDATA[Installed OR (NOT Installed AND (ALLOW_TO_INSTALL = "yes"))]]>
        </Condition>

        <!--
        ====================================================================================================
        Step 1: Create the "ALLOW_TO_INSTALL" property
        ====================================================================================================
            
        This variable will control if the product is allowed to be installed or not.
        Note: The variable is upper case in order to be considered public and allow it to be set from command line.
        
        Go To: Product.wxs (above in this file)
        -->
        <Property Id="ALLOW_TO_INSTALL" Value="yes" />

        <Feature
            Id="ProductFeature"
            Title="StartCondition"
            Level="1">

            <ComponentGroupRef Id="ProductComponents" />
        </Feature>

    </Product>
</Wix>